*{
    margin: 0;
    padding: 0;
}
.flex-container{
    width:100% ;
    height: auto;
    justify-content: center;
     display: flex;
    flex-direction: row;
    background-color: black; 
}
.flex-box{
    
    width: 200px;
    height: 150px;
    background: #303030;
    font-size: 20px;
    text-align: center;
    /* line-height: 200px; */
    border-radius: 30px;
    margin: 10px;
    justify-content: center;
    padding-top: 30px;
    color: aliceblue;
    
    
}
.flex-box h3{
    color: #EB535B;
}
.flex-box2{
    color: aliceblue;
    padding-top: 20px;
    padding-left: 30px;
    width: 170px;
    height: 270px;
    background: #303030;
    font-size: 15px;
    text-align: left;
    line-height: 50px; 
    border-radius: 30px;
    margin: 10px;
    
    
}
.flex-box3{
    padding-top: 25px;
    color: white;
    width: 200px;
    height: 180px;
     background-color: #3727AE;
    font-size: 10px; 
    text-align: center;
    /* line-height: 200px; */
    border-radius: 30px;
    margin: 10px;
    justify-content: center;
}
.flex-box3 p{
    font-size: 20px;
}
.flex-box3 h4{
    font-size: 40px;
}
.flex-box4{
    display: flex;
    width: 270px;
    height: 100px;
     background: #303030;
    font-size: 20px;
    text-align: center;
    /* line-height: 200px; */
    border-radius: 20px;
    margin: 10px;
    padding-right: 30px;
    padding-top: 20px;
    color: aliceblue;
    justify-content: center;
    align-items: center;
}
.flex-box5{
    width: 280px;
    height: 240px;
    background: black;
    text-align: start;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    margin: 10px;
    color: aliceblue;

}
 .flex-box6{
    width: 300px;
    height: 280px;
    background: #303030;
    font-size: 22px;
    text-align:center;
   
     border-radius: 30px; 
     margin: 10px; 
     padding-top: 30px; 
    color: aliceblue; 
} 
.flex-box7{
    width: 320px;
    height: 100px;
    background: #303030;
    font-size: 20px;
    text-align: left;
    /* line-height: 200px; */
    border-radius: 20px;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 50px;
    justify-content: right;
    color: aliceblue;
}
.flex-box8{
    width: 320px;
    height: 250px;
    background: #303030;
    font-size: 20px;
     line-height: 40px;
    border-radius: 20px;
    margin: 10px;
    /* padding-left: 20px;
    padding-top: 20px; */
    padding: 25px;
    color: aliceblue;

}
.flex-box9{
    width: 370px;
    height: 250px;
    background: black;
    text-align: center;
    border-radius: 20px;
    margin: 10px;
    color: aliceblue;
}
 /* .box-inside{
    display: grid;
    flex-direction: column;
}  */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color:#303030 ;
    padding: 10px;
    padding: 20px;
    margin: 15px;
  }
  .grid-item {
    background-color: black;
    border: 1px solid rgba(128, 128, 128, 0.606);
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 30px;
    margin: 3px;
  }